.footer{
    position: absolute;
    // bottom: 100px;
    width: 100%;
    // height: 100%;
    min-height: 200px;
    background: #111;
    transition: all 0.2s linear;
    transform: translateY(-75%);
    .footerContainer{
        align-items: flex-start;
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 1440px;
        padding: 40px 20px 0 20px;
        margin-bottom: 24px;
        .footerLink{
            font-size: 14px;
            width: 70%;
            align-items: flex-start;
            .linkGroup{
                width: 33%;
                .linkBtn{
                    border: none;
                    background: transparent;
                    color: #fff;
                    margin-bottom: 1rem;
                    li{
                        display: none;
                    }
                }
                .linkList{
                    max-height: 500px;
                    .linkItem{
                        margin-bottom: 1rem;
                        cursor: pointer;
                        color: #7e7e7e;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            .linkGroup2{
                display: none;
            }
        }
        .socialLink{
            font-size: 14px;
            width: 30%;
            justify-content: flex-end;
            .socialList{
                gap: 1rem;
                .socialItem{
                    display: flex;
                    text-align: center;
                    padding: 0.4rem;
                    background: #7e7e7e;
                    border-radius: 50%;
                    transition: all 0.3s linear;
                    &:hover{
                        background: #fff;
                    }
                    .icon{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .subFooter{
        width: 100%;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        padding: 0 20px;
        font-size: 14px;
        padding-bottom: 1rem;
        .copyRight{
            padding-bottom: 12px;
            // align-items: flex-end;
            .location{
                color: #fff;
                gap: 0.5rem;
                cursor: pointer;
                .icon{
                    font-size: 20px;
                }
            }
        }
        .grey{
            color: #7e7e7e;
            margin-left: 2rem;
        }
        .illustrate{
            .footerMenu{
                gap: 1.5rem;
                .footerItem{
                    color: #7e7e7e;
                    &:hover{
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.mouseOver{
    transform:translateY(0%);
}

.white{
    color: #fff !important;
}

.closeLinklist{
    max-height: 0px;
    .linkItem{
        display: none;
    }
}

@media screen and (max-width:598px) {
    .footer{
        transform:translateY(0%);
        .footerContainer{
            flex-direction: column;
            padding: 40px 10px 0 10px;
            .footerLink{
                flex-direction: column;
                width: 100%;
                .linkGroup{
                    display: none;
                }
                .linkGroup2{
                    display: inline;
                    width: 100%;
                    padding: 10px 10px;
                    border-bottom: 1px solid #7e7e7e;
                    .linkBtn{
                        border: none;
                        background: transparent;
                        color: #fff;
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 1rem;
                        li{
                            display: inline;
                           .icon{
                            font-size: 1rem;
                            color: #fff;
                            }
                        }
                    }
                    .linkList{
                        max-height: 500px;
                        .linkItem{
                            margin-bottom: 1rem;
                            cursor: pointer;
                            color: #7e7e7e;
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .socialLink{
                width: 100%;
                padding-left: 10px;
                margin-top: 16px;
                justify-content: flex-start;
            }
        }
    }
    .subFooter{
       flex-direction: column;
       align-items: flex-start;
       .illustrate{
            .footerMenu{
                flex-direction: column;
                align-items: flex-start;
            }
       }
    }
}